<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <head th:replace="fragments/header :: header('My requests')" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/moneyRequestPage.css}" />
</head>
<div class="container" id ="moneyReq">
    <money-requests url="/moneyrequests/requested"></money-requests>

</div>
<body>


</body>
<div th:replace="fragments/footer :: foot"></div>
<script>
    var app = new Vue({
        el: '#moneyReq',
        data: {

        },
        methods: {



        },


    });
</script>
</html>